body footer div {
    background-color: rgba(150, 81, 73, 0.808);
    background-size: cover;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
    flex-direction: row;
}

body footer ul {
    list-style: none;
    align-items: center;    
}


 #irArriba {
    font-family: 'Abril Fatface', cursive;
    color:black
  }

  body footer {
    font-weight: 100;
  }

  body footer ul li a {
    text-decoration: none;
    color: black;
  }
