/*--footer--*/

body footer div {
    background-color: rgba(112, 128, 144, 0.479);
    background-size: cover;
    color: thistle;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
    flex-direction: row;
}

body footer ul {
    list-style: none;
    align-items: center;
    text-decoration: none;
}

#irArriba {
    font-family: 'Abril Fatface', cursive;
  }