body header nav div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
}

body header nav {
  margin: 3%;
  border-style: none;
}

body header nav ul li {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1rem;
  color: #374555;
  padding: 2rem;
  background-color: rgba(250, 128, 114, 0.185);
}

body header nav ul li a {
  text-decoration: none;
  color: #374555;
}

.bauma {
  font-family: 'Abril Fatface', cursive;
  color: black;
}

body footer div {
  background-color: rgba(150, 81, 73, 0.808);
  background-size: cover;
  color: black;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px;
  padding: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body footer ul {
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer ul li a {
  text-decoration: none;
  color: black;
}

#irArriba {
  font-family: 'Abril Fatface', cursive;
  color: black;
}

body footer {
  font-weight: 100;
}

body {
  padding: 2vh;
  margin: 2vh;
  background-color: rgba(235, 235, 235, 0.342);
  font-family: 'Poppins', sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  padding: 8px;
  font-size: medium;
  font-family: 'Poppins', sans-serif;
  background-color: rgba(250, 128, 114, 0.404);
  -webkit-animation-name: productos;
          animation-name: productos;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  position: relative;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  text-justify: center;
}

@-webkit-keyframes productos {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes productos {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.galeria {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  color: #374555;
  padding: 2vh;
  text-decoration: none;
  list-style: none;
  border-style: none;
}

.galeria img {
  width: 30%;
}

.galeria img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

/* --tienda -- */
body main div section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28%;
  padding: 2 px;
  margin: 5%;
}

body main div section img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.encabezado {
  padding: 2%;
  margin: 5%;
  text-align: center;
}

.galeriat {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  color: #374555;
  padding: 2vh;
  text-decoration: none;
  list-style: none;
  border-style: none;
}

.galeriat img {
  width: 70%;
}

.galeriat img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.card-text {
  font-weight: 100;
}

.newcollection {
  font-size: x-large;
}

body table {
  background-color: rgba(250, 128, 114, 0.144);
}

.encabezado {
  font-size: large;
  justify-content: right;
}

.tablajeans {
  background-color: rgba(70, 69, 69, 0.137);
  margin: 10px;
  justify-content: right;
}


/*# sourceMappingURL=style.css.map */