body header nav div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px;
  padding: 5px;
}

body header nav {
  margin: 3%;
  border-style: none;
}

body header nav ul li {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1rem;
  color: #374555;
  padding: 2rem;
  background-color: rgba(250, 128, 114, 0.185);
}

body header nav ul li a {
  text-decoration: none;
  color: #374555;
}

.bauma {
  font-family: 'Abril Fatface', cursive;
}

/*--footer--*/
body footer div {
  background-color: slategray;
  background-size: cover;
  color: thistle;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px;
  padding: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body footer ul {
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

#irArriba {
  font-family: 'Abril Fatface', cursive;
}

body {
  padding: 2vh;
  margin: 2vh;
  background-color: rgba(235, 235, 235, 0.342);
  font-family: 'Poppins', sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  font-size: medium;
  font-family: 'Poppins', sans-serif;
  background-image: webkit-gradient(linear, left bottom, left top, from(darksalmon), to(pink));
  background-image: linear-gradient(to top, darksalmon, pink);
  -webkit-animation-name: productos;
          animation-name: productos;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  position: relative;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes productos {
  0% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: 0px;
    top: 20px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes productos {
  0% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: 0px;
    top: 20px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.galeria {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  color: #374555;
  padding: 2vh;
  text-decoration: none;
  list-style: none;
  border-style: none;
}

.galeria img {
  width: 30%;
}

.galeria img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

/* --tienda -- */
body main div section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28%;
  padding: 2 px;
  margin: 5%;
}

body main div section img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main--encabezado {
  padding: 2%;
  margin: 5%;
  text-align: center;
}

.main--galeria {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  color: #374555;
  padding: 2vh;
  text-decoration: none;
  list-style: none;
  border-style: none;
}

.galeriat img {
  width: 70%;
}

.galeriat img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

/*media*/
@media (min-width: 768 px) {
  title {
    display: none;
  }
  body header nav {
    display: inline-block;
  }
}

@media (min-width: 992 px) {
  .galeria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */